<a href="https://colab.research.google.com/github/VikrantKapoor24/Selection-coreTech/blob/main/Term_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=1
print(a)

1

In [ ]:
a,b=5,6
print('Sum of ',a ,' and ', b ,' is ', a+b)
print('Sum of %d and , %dis , %d '% (a,b,(a+b)))

Sum of  5  and  6  is  11
Sum of 5 and , 6is , 11

In [ ]:
a=  input("Enter name... ")
print(a*10)
b= input(" Enter COB ")
print("   " + a+"  "+b)

Enter name... Yash
YashYashYashYashYashYashYashYashYashYash
 Enter COB Knp
   Yash  Knp

In [ ]:
 for a in range(65 , 91):
   print( chr(a), end=" ")
print()
for a in range(97 , 123):
   print( chr(a), end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
a=input(" Enter a value ..")
b=int( input(" Enter a number ..   "))
print(a+" "+str(b))

 Enter a value ..vk
 Enter a number ..   25
vk 25

In [ ]:
sal=int( input(" Enter Salary ... "))
da=hr=0
if sal<10000:
  da=30
  hr=10
elif sal<25000:
  da,hr=25,15
else:
  da=hr=20
daA=(sal*da)/100
hrA=(sal*hr)/100
fnSal=sal+hrA+daA
print(fnSal)

 Enter Salary ... 5000
7000.0

In [ ]:
a=b=c=d=50
print(a,b,c,d)

50 50 50 50

In [ ]:
a,b=5,3
print(a+b , a-b , a*b, a/b, a//b, a%b, a**b)
print(2/3)

8 2 15 1.6666666666666667 1 2 125
0.6666666666666666

In [ ]:
print(2**10) ; #print(1/0)

1024

In [ ]:
a=7
b=3
print (a+b, a-b, a*b, a//b, a*b, a**b,a%b)

10 4 21 2 21 343 1

In [ ]:
a,b=4,4
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
True
False

In [ ]:
x=50
print(x)
x=x+10
print(x)
x+=10
print(x+1)
print(x)
print(x==80)

50
60
71
70
False

In [ ]:
a="my name is"
print(a , "sahil bagga")

my name is sahil bagga

In [ ]:
x,y = 2,3
print("%d equal to %d: %s" % (x,y,(x==y)))
print("%d greater than %d:%s " % (x,y,(x>y)))

In [ ]:
a,b,c,d,e = 4, 8, 6, 3, 2
print ("[(%i>%i) and (%i>%i)] is: %s" %(a, b, b, c,((a>b) and (b>c))))

[(4>8) and (8>6)] is: False

In [ ]:
a , b , c , d = 4.565 , 8.965 , 5.258 , 9.658
print("[(%1.2f < %1.3f) and (%1.3f > %1.3f)] is : %s"%(a,b,b,c,((a<b) and (b>c))))

[(4.57 < 8.965) and (8.965 > 5.258)] is : True

In [ ]:
+l=int(input("Input the length of the cuboid: "))
b=int(input("Input the breadth of the cuboid: "))
h=int(input("Input the height of the cuboid: "))
print("the volume of cuboid is " +str(l*b*h))

Input the length of the cuboid: 44
Input the breadth of the cuboid: 3
Input the height of the cuboid: 23
the volume of cuboid is 3036

In [ ]:
pi=float(3.14)
r=int(input("Input the radius of the sphere: "))
h=int(input("Input the height of the sphere: "))
print("the volume of sphere " + str(r) + " is " + str(4/3*pi* r**2*h))

Input the radius of the sphere: 4
Input the height of the sphere: 5
the volume of sphere 4 is 334.93333333333334

In [ ]:
pi=float(3.14)
r=int(input("Input the radius of the circle: "))
print("the area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle: 5
the area of the circle with radius 5 is: 78.5

In [ ]:
#using logical operators
a,b,c,d=16,25,18,1
print("[%i>%i) and (%i>%i)] is: %s" %(a,b,b,c,((a>b)and (b>c))))
print("[%i>%i) and (%i==%i)] is: %s" %(a,b,c,d,((a>b) and (c==d))))
print("[%i<%i) and (%i<>%i)] is: %s" %(a,b,c,d,((a>b) and (c<d))))
print("[%i>%i) and (%i<%i)] is: %s" %(a,b,c,c,((a>b) and (c>d))))
print("[%i<%i) and (%i<%i)] is: %s" %(a,b,c,c,((a<b) and (c>d))))
print("[%i<%i) and (%i>%i)] is: %s" %(a,b,c,c,((a<b) and (c>d))))
print("[%i==%i) and (%i==%i)] is: %s" %(a,b,c,c,((a==b) and (c==d))))
print("[%i>%i) or (%i>%i)] is: %s" %(a,b,b,c,((a>b) or (b>c))))
print("[%i>%i) or (%i==%i)] is: %s" %(a,b,c,d,((a>b) or (c==d))))

[16>25) and (25>18)] is: False
[16>25) and (18==1)] is: False
[16<25) and (18<>1)] is: False
[16>25) and (18<18)] is: False
[16<25) and (18<18)] is: True
[16<25) and (18>18)] is: True
[16==25) and (18==18)] is: False
[16>25) or (25>18)] is: True
[16>25) or (18==1)] is: False

In [ ]:
a,b,c=5,2,6 
d=a+b+c / 10 
e=(a+b+c)/10 
print(e,d)

1.3 7.6

In [ ]:
a,b,c=6,3,8 
if a < b:
  if a<c:
    print(a) 
  else:
    print(c)
else:
  if b<c:
    print(b)
  else:
    print(c)

3

In [ ]:
a,b,c=6,3,8 
if a<b and a<c:
  print(a, ' is smallest')
elif b<c:
  print(b, ' is smallest')
else:
  print(c, ' is smallest')

3  is smallest

In [ ]:
a,b,c=6,3,8 
if a<b<c:
   print(a, ' is smallest')
elif b<c:
   print(b, ' is smallest')   
else:
  print(c, ' is smallest')

3  is smallest

In [ ]:
n=int(input(" Enter .... "))
if n<0:
  print(n*-1)
else:
  print(n)

 Enter .... -6
6

In [ ]:
import math
n=int(input(" Enter .... "))
print(math.fabs(n))

 Enter .... 5
5.0

In [ ]:
#PRINT("SPSEC")

In [ ]:
a=5
print( (float)(a))
b=5.5
print((int)(b))
c=5085
print(c+1)
print(str(c)+"1")
print(str('I am in SPSEC '))
print(str('''I am in SPSEC '''))
print(str(50/3))
print(50/3)

5.0
5
5086
50851
I am in SPSEC
I am in SPSEC
16.666666666666668
16.666666666666668

In [ ]:
a=34
print(type(a))
if type(a)== int:
  print(" Yes it is an INTEGER")

<class 'int'>
 Yes it is an INTEGER

In [ ]:
print(22/7)
print(str(22/7))
print(int(22/7))
print(eval("22/7"))
sr="52*5+6"
print(eval(sr))
print(str(eval('22/7')))

3.142857142857143
3.142857142857143
3
3.142857142857143
266
3.142857142857143

In [ ]:
print(chr(65) , chr(90))
print(chr(122) , chr(97))
print(chr(48) , chr(57))
print(chr(91) ,chr(93)  , chr(96), chr(28))

A Z
z a
0 9
[ ] `

In [ ]:
print( ord('A'), ord('Z'))
print( ord('a'), ord('z'))
print( ord('*'), ord('='))
print( ord('+'), ord(' '))

65 90
97 122
42 61
43 32

In [ ]:
print(oct(65), hex(65), bin(65) )

0o101 0x41 0b1000001

In [ ]:
a=7
a=a+5 
print(a)
b=8
b+=5
print(b)

12
13

In [ ]:
x=input()
if type(x)==int:
    print("gogogo")

10

In [ ]:
x = input()
y = input()
if type(x) == type(y) == int:
  print("Hey!! given input is an integral value")
else :
  print("Hey!! given input is a string")
# it will always execute else statement because default data type of input is string

sahil
bagga
Hey!! given input is a string

In [ ]:
x = "8"
y = "4"
print ( x+y)
print (str ( 8+4)+"4")
print(str(x)+str(y)+"4")
#  sir here i have assigned string values to x and y , so on adding they got concatenated
#  but in 4th line also i assigned that 8 and 4 are strings , so why both of them didn't got concatenated

84
124
844

In [ ]:
a = int(input("Type any ascii code to see it's alphabetical value: "))
print("value of ascii code given in input is: " , chr(a))
b = (input("Type any alphabet to see it's ascii code: "))
print(ord(b))
c = int(input("Type any integer to see it's hexa-dcimal code: "))
print("It's hexa-decimal code is :" , hex(c))
d = int(input("Type any integer to see it's octa-decimal code: "))
print("It's octa-decimal code is: " , oct(d))
e = int(input("type any number to se it's binary code: "))
print ("binary code of the given input is: " , bin (e))

Type any ascii code to see it's alphabetical value: 115
value of ascii code given in input is:  s

In [ ]:
st=('aviral','sahil','yash')
print('aviral' in st)
print('aviRal' in st)
print('avinash' not in st)

True
False
True

In [ ]:
a=5
b=5
print(a is b)
c=5
print(a is c)
print(id(a), id(b), id(c))

True
True
93922542721664 93922542721664 93922542721664

In [ ]:
for i in range(65,91):
  print(chr(i),' ' , i , end=" -> ")
  if i%10==0:
    print()

In [ ]:
first = int(input("Type your first number"))
second =int(input("Type your second number"))
print("Question - Are both the given inputs same?")
print("Answer - " , (first is second))
print("Question - Are both the given inputs different?")
print("Answer - " , (first is not second ))

Type your first number7
Type your second number17
Question - Are both the given inputs same?
Answer -  False
Question - Are both the given inputs different?
Answer -  True

In [ ]:
a=4
print(++a)
#print(a++)
print(a+1)
print(a)
#print(a+=1)

4
5
4

In [ ]:
a,b,c=1,2,4
a=+c + ++b/c
print('a is %d'%a)
print(a)

a is 4
4.5

In [ ]:
number = int(input("Please enter your number here "))
if number > 0:
  print("Entered number is positive")
elif number == 0:
  print("Entered number is neither positive nor negetive ")
else:
  print("Entered number is negetive")

Please enter your number here 0
Entered number is neither positive nor negetive

In [ ]:
r = int(input("Type the radius of sphere "   ))
v = (4/3)*(22/7)*r**3 
sr = 4*(22/7)*r**2
if r < 0:
  print("Volume is negetive and Surface area is positive")
else:
  print("volume is positive and Surface area is also positive ")
print("Volume of the sphere is " , v)
print("Surface area of the sphere is " , sr)

Type the radius of sphere -78
Volume is negetive and Surface area is positive
Volume of the sphere is  -1988598.8571428568
Surface area of the sphere is  76484.57142857142

In [ ]:
p = int(input("Type the principle amount in rupees ; "))
r = int(input("Type the intrest rate/anum ;  "))
t = int(input("Type the time period in years ; "))
si = (p*r*t)/100 
finalamt = si + p
print("Intrest charged on the principle =  " , si )
print("Final amount to be payed = " ,  finalamt)
if finalamt >= 50000:
  print("Dear customer , This is to inform you that as per the changes in the guidelines of the bank you have to pay your final amount that is " , (finalamt) , "needs to get debitted before 1st july,2021")
else:
    print("Dear customer , This is to inform you that as per the changes in the guidelines of the bank you have to pay your final amount that is " , (finalamt) , "by tomorrow , else we will cease your account.")

Type the principle amount in rupees ; 12000
Type the intrest rate/anum ;  4
Type the time period in years ; 5
Intrest charged on the principle =   2400.0
Final amount to be payed =  14400.0
Dear customer , This is to inform you that as per the changes in the guidelines of the bank you have to pay your final amount that is  14400.0 by tomorrow , else we will cease your account

In [ ]:
height = float(input("enter your height in meters: "))
weight = float(input("enter your weight in kg: "))

bmi = weight // (height**2)
if bmi < 18.5:
  print(f'Your BMI is {bmi}, you are underweight')
elif bmi < 25:
  print(f"your BMI is {bmi} you have an normal weight")
elif bmi < 30:
  print(f"Your BMI is {bmi}, you are slightly overweight")
elif bmi < 35:
  print(f"Your BMI is {bmi}, you are obese")
else:
  print(f"Your BMI is {bmi}, you are clinically obese")

In [ ]:
if 1<3:
  print(' Yes ')

 Yes

In [ ]:
if True:
  print(' Yes ')

 Yes

In [ ]:
if False:
  print(' Yes ')
else:
  print(' No ')

 No

In [ ]:
# Div by 7 .. 28 OR ends wd 7 ... 37 BUZZ nos
n= int( input(' Enter .... '))
if n%7==0 or n%10==7:
  print(' Yes!! ')
else:
  print(' No!! ')

 Enter .... 250
 No!!

In [ ]:
if 1:
  print(' Yes ')

 Yes

In [ ]:
ttl= int( input(' Enter .... '))
if ttl>=85:
  print(' Garade A ')
elif ttl>=65:
  print(' Grade B ')
else:
  print(' Grade C ')

In [ ]:
age = int(input("Please enter your age "))
if age > 18:
  print("Bro!! you can vote")
elif age == 18:
   print("Bro!! you are now an adult , so please go and claim your voter id card ")
else:
  print("Bro!! you are underage , so you can't vote")

Please enter your age 18
Bro!! you are now an adult , so please go and claim your voter id card

In [ ]:
year = int(input("Please enter your birth year "))
age = 2021 - year
print ("Your age is " , age)
if age < 18:
    print ("You are underage and you can't get vaccinated ")
elif age < 45:
  print ("You are eligible to get vaccinated. Book a 18+ slot on www.cowin.gov.in")

else:
  print("You are eligible to get vaccinated. Book a 45+ slot on www.cowin.gov.in")

Please enter your birth year 2000
Your age is  21
You are eligible to get vaccinated. Book a 18+ slot on www.cowin.gov.in

In [ ]:
a=int( input(' Enter ... '))
b=int( input(' Enter ... '))
x= a  if (a > b)  else b
print(x)
print( a  if (a > b)  else b)

 Enter ... 50
 Enter ... 20
50
50

In [ ]:
a=int( input(' Enter ... '))
x= "Negative "  if (a <0)  else" Positive "
x

 Enter ... -3

'Negative '

In [ ]:
a = int(input("Type the greater number (A) "))
b = int(input("Type the smaller number (B) "))
print("Total numbers between a and b are" , a-b)

Type the greater number (A) 5455116515615
Type the smaller number (B) 4874154314514
Total numbers between a and b are 580962201101

In [ ]:
day = int(input("please type the day number "))
if day== 1:
    print("Monday")
elif day== 2:
    print("Tuesday")
elif day==3:
    print("Wedneaday")
elif day==4:
    print("Thursday")
elif day==5:
    print("Fryday")
elif day==6:
    print("Saturday")
elif day==7:
    print("Sunday")
else:
  print("Please enter a valid day number")

please type the day number 7
Sunday

In [ ]:
fn=int(input("What is the first number? "))
sn=int(input("What is the second number? "))
tn=int(input("What is the third number? "))
if ((fn > sn) and (fn>tn)):
    print("The bigger value is",fn)
elif(sn>tn) and (sn>fn):
   print("The bigger value is",sn)
else:
   print("The bigger value is",tn)

What is the first number? 55
What is the second number? 25
What is the third number? 48
The bigger value is 55

In [ ]:
nm=['Sun','Mon','Tue']
no=int(input(' Enter ... '))
print(nm[no])

 Enter ... 0
Sun

In [ ]:
ttl= int( input(' Enter .... '))
if ttl>=85:
  fr='A'
  pr=9
elif ttl>=65:
  fr='B'
  pr=7
else:
  fr='C'
  pr=5
print(fr, '  ', pr)

 Enter .... 66
B    7

In [ ]:
ch=input(" Enter a character ")
if ch in "aeiouAEIOU":
  print(' Vowel ')
else:
  print(' Consonant ')

 Enter a character a
 Vowel

In [ ]:
ch=input(" Enter a character ")
if ch=='a' or ch=='e' or ch=='o' or ch=='i' or ch=='u':
  print(' Vowel .. ')
else:
  print(' Con..')

 Enter a character a
 Vowel ..

In [ ]:
a = int(input('type the 1st side of triangle in centimeter '))
b = int(input('type the 2nd side of triangle in centimeter '))
c = int(input('type the 3rd side of triangle in centimeter '))
if a == b == c:
  print("Triangle is equilateral")
elif a == b or b == c or c == a:
  print("Triangle is Isosceles")
else:
  print("Triangle is scalene")

type the 1st side of triangle in centimeter 7
type the 2nd side of triangle in centimeter 8
type the 3rd side of triangle in centimeter 8
Triangle is Isosceles

In [ ]:
eng = int(input("English marks out of 100: "))
hin = int(input("Hindi marks out of 100: "))
maths = int(input("Maths marks out of 100: "))
sci = int(input("Science marks out of 100: "))
sst =int(input("Sst marks out of 100: "))
com = int(input("Computer marks out of 100: "))
add = (eng+hin+maths+sci+sst+com)
per =
print("you scored " , per , "%")
if per > 90 and per < 100:
    print("Grade = A1 and Grade point = 10.0")
elif per > 80 and per <  (add/600)*10090:
    print("Grade = A2 and Grade point = 9.0")
elif per > 70 and per < 80:
    print("Grade = B1 and Grade point = 8.0")
elif per > 60 and per < 70:
    print("Grade = B2 and Grade point = 7.0")
elif per > 50 and per < 60:
    print("Grade = C1 and Grade point = 6.0")
elif per > 50 and per < 60:
    print("Grade = C2 and Grade point = 5.0")
elif per > 50 and per < 60:
    print("Grade = D and gGade point = 4.0")
elif per > 50 and per < 60:
    print("Grade = E1 and Grade point = 0.0")
elif per > 50 and per < 60:
    print("Grade = E1 and Grade point = 0.0")

English marks out of 100: 78
Hindi marks out of 100: 87
Maths marks out of 100: 89
Science marks out of 100: 82
Sst marks out of 100: 91
Computer marks out of 100: 99
you scored  87.66666666666667 %
grade = A2 and grade point = 9.0

In [ ]:
l=int(input(" Len "))
b=int(input("  Br "))
a=int(input(" Side "))
r=int(input(" Enter Radius"))
ch=int(input(" Enter Choice "))
if ch==1:
  print(l*b)
elif ch==2:
  print(a*a)
elif ch==3:
  print(3.14*r*r)
else:
  print("Wrong Choice")

 Len 5
  Br 5
 Side 4
 Enter Radius10
 Enter Choice 2
16

In [ ]:
ch=int(input(" Enter Choice  1 for AREA OF RECT 2 for .... "))
if ch==1:
  l=int(input(" Len "))
  b=int(input("  Br "))
  print(l*b)
elif ch==2:
  a=int(input(" Side "))
  print(a*a)
elif ch==3:
  r=int(input(" Enter Radius"))
  print(3.14*r*r)
else:
  print("Wrong Choice")

In [ ]:
noc=int(input(" Number  "))
ca=int(input(" Attendance "))
pe=( noc//ca ) * 100
if pe<75:
  print("No ")
else:
  print("Yes")

 Number  20
 Attendance 18
Yes

In [ ]:
code = input("type the bus code")
if code == "d":
  print("your fair is : 10")
elif code == "r":
  print("your fair is : 15")
elif code == "w":
  print("yourfair is : 20")
elif code == "c":
  print("your fair is : 25")
else:
  print("enter a valid code")